<div class="exemplo">

    <div style="margin-bottom: 10px;">
        <b>{{titulo}}: </b>
        <input [(ngModel)]="value" type="text" glMascara [upperCase]="true" [formato]="maskType">
        <div>
            Retorno: {{value}}
        </div>
        <div>
            Ex:
            <pre>{{getDescInput()}}</pre>
        </div>
    </div>
    <div>
        <b>PIPE: </b> {{value | glmask: maskType }}
        <div>
            Ex:
            <pre>{{getDescPipe()}}</pre>
        </div>
    </div>
</div>