<div>
    <h3>Configurar</h3>
    <div>{{importacao}}</div>
    <div>{{uso}}</div>

</div>

<h3>Exemplo mascara:</h3>
<app-mask-exemplo maskType="CPF" maskInput="glMascara" titulo="CPF" ></app-mask-exemplo>
<app-mask-exemplo maskType="CNPJ" maskInput="glMascara" titulo="CNPJ" ></app-mask-exemplo>
<app-mask-exemplo maskType="CPF" [maskParams]="['CNPJ', isCnpj]" maskInput="glMascara" formato="CNPJ" titulo="CPF/CNPJ alternando" ></app-mask-exemplo>
<app-mask-exemplo maskType="CEP" maskInput="glMascara" titulo="CEP" ></app-mask-exemplo>
<app-mask-exemplo maskType="CGF" maskInput="glMascara" titulo="CGF" ></app-mask-exemplo>
<app-mask-exemplo maskType="CEL" maskInput="glMascara" titulo="CEL" ></app-mask-exemplo>
<app-mask-exemplo maskType="FIXO" maskInput="glMascara" titulo="FIXO" ></app-mask-exemplo>
<app-mask-exemplo maskType="FIXO" [maskParams]="['CEL', isCel]" maskInput="glMascara" formato="FIXO" titulo="FIXO/CEL alternando" ></app-mask-exemplo>
<app-mask-exemplo maskType="9999/9999" maskInput="glMascara" formato="9999/9999" titulo="Mascara qualquer" ></app-mask-exemplo>
<h3>Exemplo Telefones diversos:</h3>
<app-mask-fone></app-mask-fone>

